<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="css/bootstrap/bootstrap.min.css"/>
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="css/icons.css"/>
<link rel="stylesheet" href="css/home.css"/>
<title>Control Vehicles API - Cadastro de veículos</title>
</head>
<body>

    <main>
        <div class="main--title text-uppercase text-white text-center">
            <a class="navigation-before float-left d-flex flex-wrap position-absolute justify-content-center align-items-center" href="javascript:history.back()">
                <span class="material-icons md-48 text-white">navigate_before</span>
                <span class="navigation-before--text text-uppercase text-white">Voltar</span>
            </a>
            <h2>Cadastro de</h2>
            <h1 class="font-weight-bold">Veículos</h1>
        </div>
        <div class="options d-flex col-md-12 col-sm-12 justify-content-center">
            <form action="cadastro-veiculo" method="POST">
                <div class="d-inline-flex flex-wrap">
                    <div class="d-flex flex-column col-md-4 col-sm-12">
                        <div class="form-group text-white">
                            <label for="tipos">Tipo</label>
                            <select class="custom-select" id="tipos" name="tipo" required="required">
                                <option value=""></option>
                                <option th:each="tipo : ${tipos}"
							        th:value="${tipo.valorBusca}"
							        th:text="${tipo.valorExibicao}">							            
							    </option>
                            </select>
                        </div>
                        <div class="form-group text-white">
                            <label for="marcas">Marca</label>
                            <select class="custom-select" id="marcas" name="marca" required="required">
                                <option value=""></option>
                            </select>
                        </div>                      
                    </div>                    
                    <div class="d-flex flex-column col-md-4 col-sm-12">                          
                        <div class="form-group text-white">
                            <label for="modelos">Modelo</label>
                            <select class="custom-select" id="modelos" name="modelo" required="required">
                                <option value=""></option>
                            </select>
                        </div>                        
                        <div class="form-group text-white">
                            <label for="anos">Ano</label>
                            <select class="custom-select" id="anos" name="ano" required="required">
                                <option value=""></option>
                            </select>
                        </div>
                    </div>
                    <div class="d-flex flex-column col-md-4 col-sm-12">                        
                        <div class="form-group text-white">
                            <label for="usuarios">Usuário</label>
                            <select class="custom-select" id="usuarios" name="usuarioId" required="required">
                                <option value=""></option>
                            </select>
                        </div>
                    </div>
                    <div class="d-flex flex-column col-12 justify-content-end mt-3">                                            
                        <div class="text-white text-center">
                            <span>Valor total</span>
                            <h4 id="valorTotal">R$ 00,00</h4>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-center align-content-center m-4">
                    <button type="submit" class="btn btn-light d-inline-flex">                
                        Confirmar
                        <span class="material-icons md-24 ml-2">check</span>
                    </button>
                </div>
            </form>
        </div>
    </main>

    <footer class="small d-flex justify-content-center align-items-center">
        Rodrigo Santos | 2021 &copy; Todos os direitos reservados
    </footer>

	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="js/bootstrap/bootstrap.min.js"></script>
    <script type="text/javascript">
    	$(function(){
    		$('#marcas').prop('disabled', true);
    		$('#modelos').prop('disabled', true);
    		$('#anos').prop('disabled', true);
    		$('#usuarios').prop('disabled', true);    		
    		$('#valorTotal').text('R$ 00,00');
    	});
    
   		$('#tipos').change(function() {
   			var tipoEscolhido = $(this).val();
   			console.log(tipoEscolhido);
   			
			$('#marcas').prop('disabled', true);
			$('#marcas').empty();
			
    		$('#modelos').prop('disabled', true);
    		$('#modelos').empty();
    		
    		$('#anos').prop('disabled', true);
    		$('#anos').empty();
    		
    		$('#usuarios').prop('disabled', true);
    		$('#usuarios').empty();
    		
    		$('#valorTotal').text('R$ 00,00');
   			
    		if(tipoEscolhido != undefined || tipoEscolhido != ''){
   				$.ajax({
   	   	            url: '/veiculos/' + tipoEscolhido + '/marcas',
   	   	            type: 'get',
   	   	         	dataType: 'json',
   	   	            success:function(response){
   						console.log(response);
   						var len = response.length;

   						$('#marcas').empty();
   						$('#marcas').append("<option></option>");
   		                for( var i = 0; i<len; i++){
   		                    var nome = response[i]['nome'];
   		                    var codigo = response[i]['codigo'];
   		                    
   		                    $('#marcas').append("<option value='"+codigo+"'>"+nome+"</option>");

   		                }
   		                
   		                $('#marcas').prop('disabled', false);
   	   	            }
   	   	        });
   			}
   		});
   		
   		$('#marcas').change(function() {
   			var tipoEscolhido = $('#tipos').val();
   			var marcaEscolhida = $('#marcas').val();
   			
   			console.log(marcaEscolhida);
   			
   			if(marcaEscolhida == undefined || marcaEscolhida === '') {

   	    		$('#modelos').prop('disabled', true);
   	    		$('#modelos').empty();
   	    		
   	    		$('#anos').prop('disabled', true);
   	    		$('#anos').empty();
   	    		
   	    		$('#usuarios').prop('disabled', true);
   	    		$('#usuarios').empty();
   	    		
   	    		$('#valorTotal').text('R$ 00,00');
   			} else {
   			
	   			$.ajax({
	   	            url: '/veiculos/' + tipoEscolhido + 
	   	            		'/marcas/' + marcaEscolhida + '/modelos',
	   	            type: 'get',
	   	         	dataType: 'json',
	   	            success:function(response){
						console.log(response);
						response = response['modelos'];
						var len = response.length;
	
						$('#modelos').empty();
						$('#modelos').append("<option></option>");
		                for( var i = 0; i<len; i++){
		                    var nome = response[i]['nome'];
		                    var codigo = response[i]['codigo'];
		                    
		                    $('#modelos').append("<option value='"+codigo+"'>"+nome+"</option>");
	
		                }
		                
		                $('#modelos').prop('disabled', false);
	   	            }
	   	        });	
	   		}
   		});
   		
   		$('#modelos').change(function() {
   			var tipoEscolhido = $('#tipos').val();
   			var marcaEscolhida = $('#marcas').val();
   			var modeloEscolhido = $('#modelos').val();
   			
   			console.log(modeloEscolhido);
   			
   			if(modeloEscolhido == undefined || modeloEscolhido === '') {

   	    		$('#anos').prop('disabled', true);
   	    		$('#anos').empty();
   	    		
   	    		$('#usuarios').prop('disabled', true);
   	    		$('#usuarios').empty();
   	    		
   	    		$('#valorTotal').text('R$ 00,00');
   			} else {
   			
	   			$.ajax({
	   	            url: '/veiculos/' + tipoEscolhido + 
	   	            		'/marcas/' + marcaEscolhida + 
	   	            		'/modelos/' + modeloEscolhido + '/anos',
	   	            type: 'get',
	   	         	dataType: 'json',
	   	            success:function(response){
						console.log(response);
						var len = response.length;
	
						$('#anos').empty();
						$('#anos').append("<option></option>");
		                for( var i = 0; i<len; i++){
		                    var nome = response[i]['nome'];
		                    var codigo = response[i]['codigo'];
		                    
		                    $('#anos').append("<option value='"+codigo+"'>"+nome+"</option>");
	
		                }
		                
		                $('#anos').prop('disabled', false);
	   	            }
	   	        });   			
   			}
   		});
   		
   		$('#anos').change(function() {
   			var tipoEscolhido = $('#tipos').val();
   			var marcaEscolhida = $('#marcas').val();
   			var modeloEscolhido = $('#modelos').val();
   			var anoEscolhido = $('#anos').val();
   			
   			console.log(anoEscolhido);
   			
   			if(anoEscolhido == undefined || anoEscolhido === '') {

   	    		$('#usuarios').prop('disabled', true);
   	    		$('#usuarios').empty();
   	    		$('#valorTotal').text('R$ 00,00');
   			} else {
   			
	   			$.ajax({
	   	            url: '/veiculos/' + tipoEscolhido + 
	   	            		'/marcas/' + marcaEscolhida + 
	   	            		'/modelos/' + modeloEscolhido + 
	   	            		'/anos/' + anoEscolhido,
	   	            type: 'get',
	   	         	dataType: 'json',
	   	            success:function(response){
						console.log(response);
						
						$('#valorTotal').text(response['Valor']);
		                
		                $('#usuarios').prop('disabled', false);
	   	            }
	   	        });
	   			
	   			$.ajax({
	   				url: '/cadastro-usuario/usuarios/todos',
	   	            type: 'get',
	   	         	dataType: 'json',
	   	            success:function(response){
						console.log(response);
						var len = response.length;
						
						$('#usuarios').empty();
						$('#usuarios').append("<option></option>");
						for( var i = 0; i<len; i++){
		                    var id = response[i]['id'];
		                    var nome = response[i]['nome'];
		                    
		                    $('#usuarios').append("<option value='"+id+"'>"+nome+"</option>");
		                }
	   	            }
	   			});
   			}
   		});
    </script>
</body>
</html>