<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="css/bootstrap/bootstrap.min.css"/>
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="css/icons.css"/>
<link rel="stylesheet" href="css/home.css"/>
<title>Control Vehicles API - Lista de cadastrados</title>
</head>
<body>

    <main>
        <div class="main--title text-uppercase text-white text-center">
            <a class="navigation-before float-left d-flex flex-wrap position-absolute justify-content-center align-items-center" th:href="@{/}">
                <span class="material-icons md-48 text-white">navigate_before</span>
                <span class="navigation-before--text text-uppercase text-white">Voltar</span>
            </a>
            <h2>Lista de</h2>
            <h1 class="font-weight-bold">Cadastrados</h1>
        </div>
        <div class="options d-flex flex-column col-md-12 col-sm-12">
            <div class="d-flex">                                            
                <div class="form-group text-white">
                    <label for="usuario">Selecione o usuário</label>
                    <select class="custom-select" id="usuarios" name="usuario">
                        <option value=""></option>
                        <option th:each="usuario : ${usuarios}" 
                        	th:value="${usuario.id}" 
                        	th:text="${usuario.nome}">							            
					    </option>
                    </select>
                </div>
            </div>
            <table id="tabela-veiculos" class="table bg-white mt-3">
                <thead>
                    <tr>
                        <th scope="col">Veículo</th>
                        <th scope="col">Marca</th>
                        <th scope="col">Modelo</th>
                        <th scope="col">Ano</th>
                        <th scope="col">Rodizio (Dia)</th>
                        <th scope="col">Rodizio (Ativo Hoje)</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </main>

    <footer class="small d-flex justify-content-center align-items-center">
        Rodrigo Santos | 2021 &copy; Todos os direitos reservados
    </footer>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="js/bootstrap/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/lista-veiculos-usuario.js"></script>
</body>
</html>